<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914568505286-1tfvchb6khj7thmqso3b2ik6aoloq9ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914568505286-1tfvchb6khj7thmqso3b2ik6aoloq9ga</string>
	<key>API_KEY</key>
	<string>AIzaSyApJA9yk8Sb7pwQtnwYfV0xzxGLSq7oqQo</string>
	<key>GCM_SENDER_ID</key>
	<string>914568505286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ccom.example.pexootest</string>
	<key>PROJECT_ID</key>
	<string>tringoo</string>
	<key>STORAGE_BUCKET</key>
	<string>tringoo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914568505286:ios:4879fb2972ba7554d2f4c7</string>
	<key>DATABASE_URL</key>
	<string>https://tringoo.firebaseio.com</string>
</dict>
</plist>